/* Mobile */
@media (max-width: 46.1875em) {
    /* Icon search */
    #header {
        overflow: hidden;
    }

    #header #search-btn i.fa-search{
        display: none;
    }

    #header #search-btn i.fa-bars{
        display: inline-block;
    }

    #header #search-btn:hover{
        background-color: #ccc;
    }

    #header #nav{
        display: block;
    }

    #nav .subnav{
        background-color: rgb(51, 51, 51);
    }
    
    #nav .subnav a{
        color: #fff;
        padding: 0 40px;
    }


    #nav > li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav li:hover > a,
    #nav > li:hover > a{
        background-color: #000;
        color: #fff;
    }

    #nav .subnav {
        position: initial;
    }

    /* Slider */
    #slider #text-content {
        display: none;
    }

    /* About */
    .col-mo-full{
        width: 100%;
    }

    .tour-section .list-places .item-place{
        margin-bottom: 16px;
    }

    .btn-form{
        width: 100%;
    }

    
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    
}

/* PC */
@media (min-width: 64em) {
    
}